# App
APP_NAME=Laravel
APP_ENV=local
APP_KEY=base64:wNJjejyTEEQp+/VlLCRN16FVNSXD7+sTQs07jlrGHO0=
APP_DEBUG=true
APP_ENCRYPT_KEY=t5J6huSXzsrB7WjrPcMeaJwc4RaH2eYa2gKz98RkT9k8eLzWc0f5uZUxxYjW6WJa
APP_URL=http://laravel.local

# User
USER_NAME=laravel
GROUP_NAME=laravel
USER_ID=1000
GROUP_ID=1000

# DB
DB_CONNECTION=mysql
DB_HOST=nux-game-mysql
DB_PORT=3306
DB_DATABASE=nux-game
DB_USERNAME=root
DB_PASSWORD=secret

# REDIS_HOST=127.0.0.1
REDIS_HOST=nux-game-redis
REDIS_PASSWORD=null
REDIS_PORT=6379
REDIS_DATABASE=0
REDIS_RW_TIMEOUT=180